<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Regresar"></ion-back-button>
    </ion-buttons>
    <ion-title>Alimentos Registrados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div class="container">
      <div class="d-flex flex-row-reverse mb-3">
        <ion-button class="btn-add" (click)="openModal()">
          <ion-icon name="add-outline"></ion-icon>
          Agregar usuario
        </ion-button>
      </div>
      <table class="table table-white">
        <thead class="table-header text-light">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr *ngFor="let alimento of alimentos">
            
            <td>{{alimento.id}}</td>
            <td>{{alimento.codigo}}</td>
            <td>{{alimento.nombre}}</td>
            <td>
              <input type="button" 
                class="btn btn-warning btn-sm btn-edit me-2"
                value="Edit"
                (click)="EditAlimento(alimento)"
              />
              <input type="button"
                class="btn btn-danger btn-sm btn-del"
                value="Eliminar"
                (click)="DeleteAlimento(usuario.id)"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</ion-content>
