<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-label>Fabricacion</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showButtons" class="containerButtons">
    <ion-button class="buttonSemi" (click)="showSemi=true; showButtons=false">
      SEMIFINAL
    </ion-button>
    <ion-button class="buttonFinal" [routerLink]="['/cosecha-historial']">
      FINAL
    </ion-button>
  </div>
  <div *ngIf="showSemi">
    <div  style="width: 100%; margin:auto; padding: 1em;">
      <h1 style="text-align: center;">Categorias</h1>
      <ion-row>
        <ion-col>
          <ion-slides [options]="categoriaSlides">
            <ion-slide class="categorias" *ngFor="let categoria of categorias">
              <ion-card (click)="openProduct(categoria.podructos)" type="button">
                <img style="width: 300px; height: 200px" [src]="categoria.img">
                <ion-card-content>
                  <h3><strong>{{categoria.nombre}}</strong></h3>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </div>
    <ion-button color="primary" (click)="showButtons=true; showSemi=false">
      Regresar
    </ion-button>
  </div>
</ion-content>
