<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Fabricacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showButtons" class="containerButtons">
    <ion-button class="buttonSemi"
      (click)="showSemi=true; showView=true; showButtons=false; CargarDatos(); title='Productos SemiFinales'">
      SEMIFINAL
    </ion-button>
    <ion-button class="buttonFinal"
      (click)="showFinal=true; showView=true; showButtons=false; CargarDatos(); title='Productos Finales'">
      FINAL
    </ion-button>
  </div>
  <div *ngIf="showView">
    <div style="width: 100%; margin:auto; padding: 1em;">
      <h1 class="title">Categorias</h1>
      <ion-row>
        <ion-col>
          <ion-slides [options]="categoriaSlides">
            <ion-slide class="categorias" *ngFor="let categoria of categorias">
              <ion-card (click)="openProduct(categoria.id)" type="button">
                <img style="width: 600px; height: 180px" [src]="categoria.img.url">
                <ion-card-content>
                  <h3>{{categoria.nombre}}</h3>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="showView">
      <div style="width: 100%; margin:auto; padding: 1em;">
        <h1 style="text-align: center;">{{ title }}</h1>
        <ion-row>
          <ion-col>
            <ion-slides [options]="categoriaSlides">
              <ion-slide class="categorias" *ngFor="let producto of productos">
                <ion-card (click)="fabricarProducto(producto)" type="button">
                  <img style="width: 600px; height: 180px" [src]="producto.img.url">
                  <ion-card-content>
                    <h3>{{producto.nombre}}</h3>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <ion-button color="primary"
      (click)="showButtons=true; showSemi=false; showFinal=false; showView=false; productos=null; categorias=null;">
      Regresar
    </ion-button>
  </div>
</ion-content>
