<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-label>{{ title }}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showButtons" class="containerButtons">
    <ion-button class="buttonSemi" (click)="showSemi=true; showFinal=false; showButtons=false; ValidarSeleccion(); title='Productos SemiFinales'">
      SEMIFINAL
    </ion-button>
    <ion-button class="buttonFinal" (click)="showFinal=true; showSemi=false; showButtons=false; ValidarSeleccion(); title='Productos Finales';">
      FINAL
    </ion-button>
  </div>
  <div class="container mt-4" *ngIf="!showButtons">
    <div class="d-flex flex-row-reverse mb-3">
      <ion-button color="primary" (click)="showButtons=true; showSemi=false; showFinal=false;  title='Productos';">
        Regresar
      </ion-button>
      <ion-button class="btn-add" (click)="registroProducto()">
        <ion-icon name="add-outline"></ion-icon>
        Nuevo Registro
      </ion-button>
    </div>
    <table class="table table-white">
      <thead class="table-header text-light">
        <tr>
          <th scope="col">Categoria</th>
          <th scope="col">Codigo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <tr *ngFor="let producto of productosTabla">
          <td>{{producto.categoria}}</td>
          <td>{{producto.id}}</td>
          <td>{{producto.nombre}}</td>
          <td> <input type="button" style="margin-right: 20px;"
            class="btn btn-warning btn-sm btn-edit"
            value="Editar"
            (click)="editProducto(producto)"
          />
          <input type="button"
            class="btn btn-danger btn-sm btn-del"
            value="Eliminar"
            (click)="DeleteProducto(producto)"
          /></td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
