<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Procesos Realizados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-4">
    <table class="table table-white">
      <thead class="table-header text-light">
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Nombre</th>
          <th scope="col">lote</th>
          <th scope="col">Fecha Entrada</th>
          <th scope="col">Peso MP</th>
          <th scope="col">Responsable</th>
          <th scope="col">Accion</th>

        </tr>
      </thead>
      <tbody class="bg-white" *ngFor="let producto of productos">
        <tr   *ngIf="producto.estado === 'En proceso'">
          
          <td>{{producto.codigo}}</td>
          <td>{{producto.nombre}}</td>
          <td>{{producto.lote}}</td>
          <td>{{producto.fechaEntrada}}</td>
          <td>{{producto.pesoMp}} g</td>
          <td>{{producto.responsable}}</td>
          <td>
            <input type="button" class="btn btn-warning btn-sm btn-edit" value="Terminar"
              (click)="openModal(producto)" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
