ion-content {
  --background: var(--ion-color-green);
}

ion-toolbar {
  --background: #668b17;
  text-align: center;

  ion-back-button {
    --color: white;
    font-size: 1.3rem;
  }

  ion-title {
    font-size: 1.5rem;
  }
}

.input-filter {
  padding: 8px;
  margin: 15px auto;
  width: 40%;
  background-color: white;
  color: black;
  border-radius: 1rem;
  padding: 0.5rem;
  outline: none;
  border: 1px solid green;
}
