<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Regresar"></ion-back-button>
    </ion-buttons>
    <ion-title>inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <input type="text" placeholder="Nombre del producto" (keyup)="updateFilter($event)" class="input-filter" />
    <ion-button (click)="abrirModalLeerNFC()">
      <ion-icon name="add-outline"></ion-icon>
      Leer NFC
    </ion-button>
    <ion-button (click)="writeNFC()">
      <ion-icon name="add-outline"></ion-icon>
      Escribir NFC
    </ion-button>
    <ngx-datatable #table class="material" [columns]="cols" [columnMode]="ColumnMode.force" [headerHeight]="50"
      [footerHeight]="50" rowHeight="auto" [limit]="10" [rows]="productos">
    </ngx-datatable>
    <ngx-datatable-column prop="pesomp" [width]="300">
      <ng-template #editTmpl let-value="value" ngx-datatable-cell-template>
        <strong>{{ value }} gr</strong>
      </ng-template>
    </ngx-datatable-column>
  </div>
</ion-content>
