<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-label>Inventario</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  </div>
  <div *ngIf="showButtons" class="containerButtons">
    <ion-button class="buttonSemi"
      (click)="showSemi=true; showFinal=false; showButtons=false; CargarDatosTabla(); title='Productos SemiFinales'">
      SEMIFINAL
    </ion-button>
    <ion-button class="buttonFinal"
      (click)="showFinal=true; showSemi=false; showButtons=false; CargarDatosTabla(); title='Productos Finales';">
      FINAL
    </ion-button>
  </div>
  <div *ngIf="!showButtons" class="container">
    <div class="w-100 d-flex align-items-center justify-content-center mt-4 mb-4 p-0">
      <input type="text" placeholder="Type to filter the name column..." (keyup)="updateFilter($event)"
        class="input-filter" />
      <div class="buttons-action">
        <ion-button (click)="readNFC()">
          Leer NFC
        </ion-button>
        <ion-button color="primary" (click)="showButtons=true; showSemi=false;  title='Productos';">
          Regresar
        </ion-button>
        <ion-button class="btn-add" (click)="ingresosGet()" [routerLink]="['/ingresos-inventario-semi']">
          Ingresos
        </ion-button>
      </div>
    </div>

    <ngx-datatable #table class="material" [columns]="cols" [columnMode]="ColumnMode.force" [headerHeight]="50"
      [footerHeight]="50" rowHeight="auto" [limit]="10" [rows]="productos">
    </ngx-datatable>
    <ngx-datatable-column prop="pesomp" [width]="300">
      <ng-template #editTmpl let-value="value" ngx-datatable-cell-template>
        <strong>{{ value }} gr</strong>
      </ng-template>
    </ngx-datatable-column>
  </div>
</ion-content>
