<ion-header>
  <ion-toolbar>
    <ion-title>{{ type }}</ion-title>
    <ion-buttons slot="primary" slot="start" >
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" >
    <form class="content-info" [formGroup]="formRegistro" (ngSubmit)="Registro()"  id="form">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-select formControlName="nombre" >
          <ion-select-option *ngFor="let cosecha of lista">{{cosecha.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Codigo</ion-label>
        <ion-input formControlName="codigo" ></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input formControlName="fecha" type="date" ></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Peso Stock</ion-label>
        <ion-input formControlName="peso" type="number"></ion-input>
      </ion-item>
      <br>
  
      <ion-button type="submit" expand="block" shape="round" >
        <ion-icon name="save"></ion-icon> Guardar
      </ion-button>
    </form>
    <ion-button type="submit"  expand="block" shape="round"(click)="closeModal()">
      <ion-icon name="close"></ion-icon> Cancelar
    </ion-button> 
  </div>
  
</ion-content>
