<ion-header>
  <ion-toolbar>
    <ion-label>Nuevo Registro</ion-label>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-circle-outline" class="close-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form class="content-info" [formGroup]="formRegistro" (ngSubmit)="Registro()" id="form">
      <div>
        <ion-select 
          (ionChange)="handleChange($event)" 
          [selectedText]="nombreCosecha" 
          formControlName="nombre"
          placeholder="Seleccione un alimento" 
          class="cosecha-select"
          cancel-text ="Cancelar"
          ok-text="Aceptar"
        >
          <ion-select-option *ngFor="let cosecha of lista" [value]="cosecha">{{cosecha.nombre}}</ion-select-option>
        </ion-select>
      </div>
      <input formControlName="codigo" placeholder="Código" class="form-input">
      <input type="number" formControlName="peso" class="form-input" placeholder="Peso stock">
      <ion-button type="submit" expand="block" shape="round" class="button-submit">
        <ion-icon name="save"></ion-icon> &nbsp; Guardar
      </ion-button>
    </form>
    <!-- <ion-button type="submit"  expand="block" shape="round"(click)="closeModal()">
      <ion-icon name="close"></ion-icon> Cancelar
    </ion-button>  -->
  </div>

</ion-content>
