ion-content {
  --background: white;
}

ion-toolbar {
  text-align: center;
  ion-label {
    font-size: 1.4rem;
    color: white;
    text-align: center;
  }
}

.close-icon {
  font-size: 1.7rem;
}

.form-input {
  width: 100%;
  background-color: rgb(219, 219, 219);
  padding: 1rem;
  color: black;
  outline: none;
  border-radius: 1rem;
  border: none;
  margin-bottom: 1.5rem;
}

ion-label {
  color: black;
}

ion-select {
  /* Applies to the value and placeholder color */
  color: #545ca7;

  /* Set a different placeholder color */
  --placeholder-color: #000;

  /* Set full opacity on the placeholder */
  --placeholder-opacity: 1;
  background: rgb(219, 219, 219);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;
}

ion-button {
  color: white;
}

ion-icon {
  color: white;
  --ionicon-stroke-width: 32px;
}

.button-submit {
  --background: #3D84B7;
  --padding-top: 1.4rem;
  --padding-bottom: 1.4rem;
  --border-radius: 1rem
}
