ion-content {
  --background: var(--ion-color-green);
}

ion-toolbar {
  --background: #668B17;
  text-align: center;
  ion-title {
    font-size: 2rem;
  }
}

.table-header {
  background: #668B17;
  text-align: center;
}
