<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Regresar"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de Cosecha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-4">
    <table class="table table-white">
      <thead class="table-header text-light">
        <tr>
      
          <th scope="col">Nombre</th>
          <th scope="col">Codigo</th>
          <th scope="col">Fecha</th>
          <th scope="col">Peso</th>
          <th scope="col">Lote</th>
          <th scope="col">Responsable</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <tr *ngFor="let cosecha of cosechaHistorial">
          
          <td>{{cosecha.nombre}}</td>
          <td>{{cosecha.codigo}}</td>
          <td>{{cosecha.fecha.substr(0, 10)}}</td>
          <td>{{cosecha.ingreso}} kg</td>
          <td>{{cosecha.lote}}</td>
          <td>{{cosecha.responsable}}</td>
          <td>
            <input type="button" 
              class="btn btn-warning btn-sm btn-edit me-2"
              value="Edit"
              (click)="EditCosecha(cosecha)"
            />
            <input type="button"
              class="btn btn-danger btn-sm btn-del"
              value="Delete"
              (click)="ValidarDelete(cosecha)"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
