<ion-header>
  <ion-toolbar>
    <ion-title>Happy Fruit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login">
    <div class="content">
      <div class="content-form">
        <form [formGroup]="formLogin">
          <h3>Iniciar sesión</h3>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email"></ion-input> 
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password"></ion-input>
          </ion-item>
          <ion-button (click)="ValidarUsuario()" expand="block">
            Ingresar
          </ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
