<ion-header>
  <ion-toolbar>
    <ion-title>Happy Fruit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login">
    <div class="content">
      <!-- <ion-card>
        <ion-card-header>
          <ion-card-title>Login</ion-card-title>
        </ion-card-header>
        <ion-card-content class="login-content">
          <form [formGroup]="formLogin">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email"></ion-input> 
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password"></ion-input>
            </ion-item>
          </form>
          <br>
          <ion-button (click)="ValidarUsuario()" expand="block">
            Ingresar
          </ion-button>
        </ion-card-content>
      </ion-card> -->
      <div class="content-form">
        <form [formGroup]="formLogin">
          <h3>Iniciar sesión</h3>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email"></ion-input> 
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password"></ion-input>
          </ion-item>
          <ion-button (click)="ValidarUsuario()" expand="block">
            Ingresar
          </ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
