.menu {
    --background: #668B17;
  text-align: center;
  ion-title {
    font-size: 1.4rem;
  }
}

.option-label-menu {
    background: #537014;
    ion-label {
        font-size: 1.1rem;
    }
}

.content-menu {
    --background: #dce2cf;
}

.menu-items-option  {
    --background: #383e2a;
}

.menu-items  {
    background: #383e2a;
}


