<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Actividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex align-items-center p-3">
    <ion-button (click)="abrirModal('nuevo', null)">
      <ion-icon name="add-outline"></ion-icon> &nbsp;
      Agregar actividad
    </ion-button>
    <label class="text-dark me-1 ms-4 fw-bold fs-5">Filtrar: &nbsp;</label>
    <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Seleccionar" (ionChange)="filtrarTipo($event)">
          <ion-select-option value="todos">Todos</ion-select-option>
          <ion-select-option value="fabrica">Fábrica</ion-select-option>
          <ion-select-option value="campo">Campo</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <ion-searchbar (ionChange)="buscarActividad($event)" placeholder="Buscar" animated></ion-searchbar>
  <ion-item *ngFor="let actividad of listaActividades" class="item-actividad">
    <ion-label>
      <h2>{{actividad.nombre}}</h2>
      <p>{{actividad.tipo}}</p>
    </ion-label>
    <ion-button slot="end" size="small" (click)="abrirModal('editar', actividad)">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" size="small" color="danger" (click)="presentAlert(actividad.id)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>
