<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" (click)="logout()">
      <ion-icon name="exit"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Datos del Api firebase</h2>
  <ion-list>
    <button ion-item *ngFor="let cosecha of cosechas">
      {{cosecha.nombre}}
    </button>
  </ion-list>


</ion-content>
