<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" (click)="logout()" class="btn-exit">
      <ion-icon name="exit"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="d-flex flex-column justify-content-center align-items-center">
  <div class="banner-welcome d-flex flex-column justify-content-center align-items-center max-vh-100">
    <h2 class="welcome-title">¡Bienvenido {{usuario}}!</h2>
    <img 
      src="../../../assets/icon/cropped-Happy-Fruit-Logo.png" 
      alt="Logo de Happy Fruit"
      class="logo"
    >
  </div>
</ion-content>
