<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-label>Cosecha</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
<ion-button color="primary" (click)="openModal()">
  Nuevo Registro
</ion-button>
<br>
  <div class="container">
    <table class="table table-dark">
      <thead>
        <tr>
      
          <th scope="col">Nombre</th>
          <th scope="col">Codigo</th>
          <th scope="col">Fecha</th>
          <th scope="col">Peso</th>
          <th scope="col">Lote</th>
          <th scope="col">Responsable</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cosecha of cosechas">
          
          <td>{{cosecha.nombre}}</td>
          <td>{{cosecha.codigo}}</td>
          <td>{{cosecha.fecha}}</td>
          <td>{{cosecha.peso_stock}} kg</td>
          <td>{{cosecha.lote}}</td>
          <td>{{cosecha.responsable}}</td>
          <td>
            <input type="button" 
              class="btn btn-warning btn-sm btn-edit"
              value="Edit"
              (click)="EditCosecha(cosecha.id)"
            />
            <input type="button"
              class="btn btn-danger btn-sm btn-del"
              value="Delete"
              (click)="DeleteCosecha(cosecha.id)"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
