ion-content {
  --background: var(--ion-color-green);
}

ion-toolbar {
  text-align: center;
  font-weight: bold;
}

.table-header {
  background-color: #668B17;
}

.btn-add {
  --background: #4A7AA6;
}