<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-label>Cosecha</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
<ion-button color="primary" (click)="openModal()">
  Nuevo Registro
</ion-button>
<ion-button color="primary" [routerLink]="['/cosecha-historial']">
  Historial
</ion-button>
<br>
  <div class="container">
    <table class="table table-dark">
      <thead>
        <tr>
      
          <th scope="col">Nombre</th>
          <th scope="col">Codigo</th>
          <th scope="col">Peso</th>
          <th scope="col">Lote</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cosecha of cosechas">
          
          <td>{{cosecha.nombre}}</td>
          <td>{{cosecha.codigo}}</td>
          <td>{{cosecha.stock}} kg</td>
          <td>{{cosecha.lote}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
