<ion-header>
  <ion-toolbar>
    <ion-title>Fabricacion</ion-title>
    <ion-buttons slot="primary" slot="start" >
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" >
    <form class="content-info" [formGroup]="formRegistro" (ngSubmit)="saveProfile()"  id="formFa">
      <!-------------field N° de proceso---------------->
      <ion-item>
        <ion-label position="floating">N° de proceso</ion-label>
        <ion-input formControlName="proceso" type="number"></ion-input>
      </ion-item>
      <!-------------field nombre---------------->
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <br>
      <div  *ngIf="showSemi == true">
        <!-------------field Materia Prima ---------------->
        <ion-label position="floating" >Materia prima</ion-label>
        <div formArrayName="materiaPrimaForm">
            <ng-container *ngFor="let form  of MateriaPrima; let i=index;">
              <ion-item>
                <ion-label position="floating">{{form.nombre}}  </ion-label>
                <ion-input [formControlName]="i" type="number" [disabled]="true" placeholder="Ingresa un numero de presentacion"></ion-input>
              </ion-item>
            </ng-container>
        </div>
        <br>
      </div>

      <div *ngIf="showFinal == true">
      <!-------------field presentacion---------------->

        <ion-item>
          <ion-label position="floating">Presentacion</ion-label>
          <ion-select (ionChange)="handleChangePresentacion($event)" [selectedText]="presentacion" formControlName="presentacion" placeholder="Seleccione una presentacion">
            <ion-select-option  *ngFor="let producto of MateriaPrima" >{{producto.presentacion}}</ion-select-option>
          </ion-select>
        </ion-item>
        <br>
         <!-------------field Materia Prima ---------------->
         <ion-label position="floating" >Materia prima</ion-label>
         <div>
             <ng-container *ngFor="let receta  of recetaProducto; let i=index;">
               <ion-item>
                 <ion-label position="floating">{{receta.nombre}}  </ion-label>
                 <ion-input [id]="i" type="number" [disabled]="true" [value]="receta.peso"></ion-input>
               </ion-item>
             </ng-container>
         </div>
         <br>
        <!-------------field N° de unidades ---------------->
        <ion-item>
          <ion-label position="floating">N° de unidades</ion-label>
          <ion-input (ionChange)="handleChangeUnidades($event)" formControlName="unidades" type="number"></ion-input>
        </ion-item>
        <br>
        <!-------------field Peso final ---------------->
        <ion-item >
          <ion-label position="floating">Peso final</ion-label>
          <ion-input formControlName="pesoFinal" [disabled]="true" type="number"></ion-input>
        </ion-item>
        <br>
      </div>
      <ion-button type="submit" expand="block" shape="round" >
        <ion-icon name="save"></ion-icon> Guardar
      </ion-button>
    </form>
    <ion-button type="submit"  expand="block" shape="round"(click)="closeModal()">
      <ion-icon name="close"></ion-icon> Cancelar
    </ion-button> 
  </div>
</ion-content>
