<ion-header>
  <ion-toolbar>
    <ion-title>{{ type }}</ion-title>
    <ion-buttons slot="primary" slot="start" >
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" >
    
    <div class="content-perfil">
      <ion-card>
        <ion-img [src]=imgURL></ion-img>
      </ion-card>
    </div>
    <br>
    <form class="content-info" [formGroup]="formRegistro" (ngSubmit)="saveProfile()"  id="form">
      <!-------------field img---------------->
      <ion-item>
        <ion-input (change)="capturarFile($event)" type="file" ></ion-input>
      </ion-item>
      <br>
      <!-------------field categoria---------------->
      <ion-item>
        <ion-label position="floating">Categoria</ion-label>
        <ion-select (ionChange)="handleChangeCategoria($event)" [selectedText]="this.categoria.nombre" formControlName="categoria" placeholder="Seleccione una categoria">
          <ion-select-option  *ngFor="let categoria of listaCategorias"  [value]="categoria.id">{{categoria.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <!-------------field codigo---------------->
      <ion-item>
        <ion-label position="floating">Codigo</ion-label>
        <ion-input formControlName="codigo" ></ion-input>
      </ion-item>
      <br>
      <!-------------field nombre---------------->
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre" ></ion-input>
      </ion-item>
      <br>
      <!-------------field Materia Prima de Productos Semifinales---------------->
      <div *ngIf="tabla === 'Semi'" formArrayName="materiaPrimaForm">
        <button (click)="addMateriaPrimaSemi()" type="button"> + </button>
          <ng-container *ngFor="let form  of materiaPrimaForm.controls; let i=index;">
            <ion-item>
              <ion-label position="floating">Materia Prima </ion-label>
               <ion-select (ionChange)="handleChangeAlimentoSemi($event,i)" [selectedText]="materiaPrima[i].nombre" placeholder="Seleccione un alimento">
                  <ion-select-option  *ngFor="let alimento of listaMateriaPrima" [value]="alimento.id">{{alimento.nombre}}</ion-select-option>
               </ion-select>
            </ion-item>
            <ion-item>
              <span *ngIf="i != 0" slot="end" type="button" (click)="deleteMateriaPrimaSemi(i)">X</span> 
              <ion-input [formControlName]="i" type="number" placeholder="Ingreso el monto de la receta"></ion-input>
            </ion-item>
          </ng-container>
      </div>
      <!-------------field Materia Prima de Productos Finales---------------->
      <div  *ngIf="tabla === 'Final'" formArrayName="materiaPrimaForm">
        <ion-label position="floating">Recetas</ion-label>
        <button (click)="addReceta()" type="button"> + </button>
          <!-------------field array Receta---------------->
          <ng-container *ngFor="let formArray of materiaPrimaForm.controls; let i=index;">
            <ion-item-divider color="primary">
              <ion-label>
                Receta {{i + 1}}
              </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label position="floating">Presentacion</ion-label>
              <ion-input [id]="'A'+i"  type="number" placeholder="Ingresa un numero de presentacion"></ion-input>
            </ion-item>
            <ion-buttons slot="primary" slot="start" >
              <ion-button (click)="addMateriaPrimaFi(i)">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <!-------------field array Materia Prima---------------->
            <ng-container *ngFor="let form of formArray.controls ; let n=index;">
              <ion-item>
                <ion-label position="floating">Materia Prima </ion-label>
                 <ion-select (ionChange)="handleChangeAlimentoFinal($event,i,n)" [selectedText]="receta[i][n].nombre" placeholder="Seleccione un alimento">
                    <ion-select-option  *ngFor="let alimento of listaMateriaPrima" [value]="alimento.id">{{alimento.nombre}}</ion-select-option>
                 </ion-select>
              </ion-item>
              <ion-item>
                <span *ngIf="n != 0" slot="end" type="button" (click)="deleteMateriaPrimaFi(n)">X</span> 
                <ion-input [id]="'B'+i+n" type="number" placeholder="Ingreso el monto de la receta"></ion-input>
              </ion-item>
            </ng-container>
          </ng-container>
      </div>
      
        <br>
      <ion-button type="submit" expand="block" shape="round" >
        <ion-icon name="save"></ion-icon> Guardar
      </ion-button>
    </form>
    <div class="content-info">
      <ion-button  type="submit"  expand="block" shape="round"(click)="closeModal()">
        <ion-icon name="close"></ion-icon> Cancelar
      </ion-button> 
    </div>

  </div>
</ion-content>
