ion-content {
  --background: white;
}

.form-input {
  width: 100%;
  background-color: rgb(219, 219, 219);
  padding: 1rem;
  color: black;
  outline: none;
  border-radius: 1rem;
  border: none;
}

.input-name {
  border-radius: 1.5rem;
  padding: 0;
  --background: white;
  color: black;
}

label {
  color: black;
}

ion-icon {
  color: white;
  --ionicon-stroke-width: 32px;
}
