<ion-header>
  <ion-toolbar>
    <ion-title>{{ type }}</ion-title>
    <ion-buttons slot="primary" slot="start" >
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" >
    
    <div class="content-perfil">
      <ion-card>
        <ion-img [src]=img></ion-img>
      </ion-card>
    </div>
    <br>
    <form class="content-info" [formGroup]="formRegistro" (ngSubmit)="saveProfile()"  id="form">

      <ion-item>
        <ion-input (change)="capturarFile($event)" type="file" ></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Codigo</ion-label>
        <ion-input formControlName="codigo" placeholder="inserte un codigo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre" placeholder="Inserte un nombre"></ion-input>
      </ion-item>
      <br>

      <ion-button type="submit" expand="block" shape="round" >
        <ion-icon name="save"></ion-icon> Guardar
      </ion-button>
    </form>
    <div class="content-info">
      <ion-button  type="submit"  expand="block" shape="round"(click)="closeModal()">
        <ion-icon name="close"></ion-icon> Cancelar
      </ion-button> 
    </div>

  </div>
</ion-content>
